<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Типичный Галлахорн</title>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="stylesheet" href="css/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="js/main.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <a href="index.html"></a>
        <h1>типичный галлахорн</h1>
    </div>
</header>
<nav>
    <ul class="head-menu">
        <li class="head-menu__item">
            <a href="podcast.html" class="head-menu__item-link">шоу</a>
        </li>
        <li class="head-menu__item">
            <a href="#" class="head-menu__item-link unactive">лор destiny</a>
        </li>
        <li class="head-menu__item">
            <a href="#" class="head-menu__item-link unactive">классы</a>
        </li>
        <li class="head-menu__item">
            <a href="#" class="head-menu__item-link unactive">оружие</a>
        </li>
    </ul>
</nav>