.post-item {
  padding-bottom: 20px;
  
  &:after {
    content: '';
    width: 90%;
    height: 60px;
    display: block;
    margin: 50px auto;
    background-image: url($imgPath + 'sepor.png');
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 0;

    @include respond-to(fablet) {
      height: 40px;
      margin: 30px auto;
    }
  }

  &:last-child:after {
    background: 0;
    margin: 0;
  }
}

.post-item__head {
  position: relative;
  margin-bottom: 30px;
}

.post-item__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.post-item__title {
  position: absolute;
  z-index: 10;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: $white;
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0 0 30px #333;

  @include respond-to(fablet) {
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    bottom: 30px;
  }

  @include respond-to(phone) {
    position: relative;
    bottom: initial;
    color: $black;
    text-shadow: none;
    margin-top: 20px;
  }
}

.post-item__text {
  font-size: 1.2em;
  padding: 0 20px;
  margin-bottom: 20px;
}