.post {
  padding: 40px 0;
  font-size: 1.2em;

  p {
    padding: 0 40px;
    margin-bottom: 20px;

    @include respond-to(fablet) {
      padding: 0 30px;
    }
  }

  ul {
    counter-reset: listNum;
    padding-left: 85px;
    padding-right: 40px;

    @include respond-to(fablet) {
      padding-left: 60px;
    }
  }

  li {
    counter-increment: listNum;
    position: relative;
    margin-bottom: 30px;

    &:before {
      content: counter(listNum);
      position: absolute;
      top: -5px;
      left: -65px;
      letter-spacing: -3px;
      display: block;
      width: 45px;
      text-align: center;
      font-size: 2em;
      color: #ffbf00;
      font-weight: 700;
      font-family: roboto;

      @include respond-to(fablet) {
        width: 35px;
        left: -45px;
      }
    }

    img {
      display: block;
      margin-top: 20px;
    }
  }
}

.post-img {
  margin-bottom: 50px;
  position: relative;

  @include respond-to(tablet) {
    margin-bottom: -10px;
    background-color: $white;
  }
}

.post-title {
  @extend .post-item__title;
  font-size: 3em;
}